<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="11603ffe-aee3-4d61-a4c4-5db1e9c87df6"
            Publisher="CN=dougie"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>KirinW8Test</DisplayName>
    <PublisherDisplayName>dougie</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="KirinW8Test.App">
        <VisualElements
            DisplayName="KirinW8Test"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="KirinW8Test"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>